.cavani_tm_footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 70px;
	background-color: #fff;
	z-index: 10;
	line-height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 70px;
}
.cavani_tm_footer .copyright p{
	color: #333;
	font-family: "Poppins";
}
.cavani_tm_footer .social ul{
	margin: 0px;
	list-style-type: none;
}
.cavani_tm_footer .social ul li{
	margin: 0px 15px 0px 0px;
	display: inline-block;
}
.cavani_tm_footer .social ul li:last-child{
	margin-right: 0px;
}
.cavani_tm_footer .social ul li a{
	text-decoration: none;
	color: #333;
}
.cavani_tm_left_border{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 70px;
	background-color: #fff;
	z-index: 10;
}
.cavani_tm_right_border{
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 70px;
	background-color: #fff;
	z-index: 10;
}