.cavani_tm_topbar{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #fff;
	z-index: 15;
	display: none;
}
.cavani_tm_topbar .topbar_inner{
	width: 100%;
	height: 100%;
	clear: both;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
}
.cavani_tm_topbar .logo img{
	max-width: 100px;
	max-height: 40px;
}
.cavani_tm_topbar .logo[data-type="image"] .text{
	display: none;
}
.cavani_tm_topbar .logo[data-type="text"] .text{
	display: inline-block;
}
.cavani_tm_topbar .logo .text{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-family: "Poppins";
	font-size: 22px;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 50px;
}
.cavani_tm_topbar .hamburger{
	padding: 0px;
}
.cavani_tm_topbar .hamburger_inner, 
.cavani_tm_topbar .hamburger_inner:after, 
.cavani_tm_topbar .hamburger_inner:before{
	width: 30px;
	height: 2px;
}
.cavani_tm_topbar .trigger{
	position: relative;
	top: 5px;
}
.cavani_tm_topbar .hamburger-box{
	width: 30px;
}
.cavani_tm_mobile_menu{
	position: fixed;
	top: 50px;
	right: -200px;
	height: 100vh;
	width: 200px;
	z-index: 15;
	background-color: #fff;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.cavani_tm_mobile_menu.opened{
	right: 0px;
}
.cavani_tm_mobile_menu .inner{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: right;
	padding: 70px 20px 20px 20px;
}
.cavani_tm_mobile_menu .avatar{
	width: 70px;
	height: 70px;
	position: relative;
	float: right;
	margin-bottom: 60px;
}
.cavani_tm_mobile_menu .avatar .image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.cavani_tm_mobile_menu .menu_list{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 50px;
}
.cavani_tm_mobile_menu .menu_list ul{
	margin: 0px;
	list-style-type: none;
}
.cavani_tm_mobile_menu .menu_list ul li{
	margin: 0px 0px 7px 0px;
}
.cavani_tm_mobile_menu .menu_list ul li a{
	text-decoration: none;
	color: #333;
	font-family: "Poppins";
}
.cavani_tm_mobile_menu .social{
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.cavani_tm_mobile_menu .social ul{
	margin: 0px;
	list-style-type: none;
}
.cavani_tm_mobile_menu .social ul li{
	margin: 0px 8px 0px 0px;
	display: inline-block;
}
.cavani_tm_mobile_menu .social ul li:last-child{
	margin-right: 0px;
}
.cavani_tm_mobile_menu .social ul li a{
	text-decoration: none;
	color: #333;
}
.cavani_tm_mobile_menu .copyright{
	width: 100%;
	float: left;
}
.cavani_tm_mobile_menu .copyright p{
	color: #333;
	font-family: "Poppins";
}